@import "tailwindcss";

@theme {
  --color-primary-dark: #131c15;
  --color-primary-accent: #058FD2;
  --color-soft-bg: #EEF7FB;
  --color-white: #ffffff;
}

:root {
  /* COLORS */
  --primary-dark: #131c15;
  --primary-accent: #058FD2;
  --white: #ffffff;
  --soft-bg: #EEF7FB;

}


html,
body {
  background-color: var(--soft-bg);
  color: var(--primary-dark);
}

